.v-map-pin {
  @include icon-pin-map;
}

.maplibregl-popup-anchor-top,
.maplibregl-popup-anchor-top-right,
.maplibregl-popup-anchor-top-left {
  .maplibregl-popup-tip {
    border-bottom-color: $grey-xdark !important;
    border-bottom-width: 6px;
  }
}

.maplibregl-popup-anchor-right {
  .maplibregl-popup-tip {
    border-left-color: $grey-xdark !important;
    border-left-width: 6px;
  }
}

.maplibregl-popup-anchor-left {
  .maplibregl-popup-tip {
    border-right-color: $grey-xdark !important;
    border-right-width: 6px;
  }
}

.maplibregl-popup-anchor-bottom,
.maplibregl-popup-anchor-bottom-right,
.maplibregl-popup-anchor-bottom-left {
  .maplibregl-popup-tip {
    border-top-color: $grey-xdark !important;
    border-top-width: 6px;
  }
}

.maplibregl-popup-content {
  background-color: $grey-xdark !important;
  color: $white !important;
  padding: 0.5rem;

  &__attributes {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__attribute {
    @include flex;
    @include flex-column;
    gap: 0.5rem;
  }

  &__wrapper {
    @include flex;
    gap: 0.25rem;
  }
}

.maplibregl-popup-close-button {
  display: none !important;
}